* {
    box-sizing: bord;
}

body {
    width: 980px;
    font-weight: 200;
    letter-spacing: 1px;
    margin: auto;
    font-family: "Nunito Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: .875rem;
    font-weight: 400;
    line-height: 1.5;
    color: white;
    text-align: left;
    background-color: #094162;
}

span {
    font-weight: 700;
}

/* header  */

header {
    padding: 32px;
    padding-left: 45px;
    background-color: #0e69a0;
    position: relative;
    border-radius: 30px;
}

h1 {
    font-size: 32px;
    line-height: 32px;
    vertical-align: bottom;
    display: inline;
}

h1 img {
    height: 32px;
    vertical-align: bottom;
    margin-right: 8px;
    
}

h1 a {
    font-size: 32px;
    text-decoration: none;
    color: white;
}


h1 a:visited {
    color: white;
}
h1 a:hover {
   text-decoration: underline;
}

nav {
    display: inline-block;
    position: absolute;
    right: 16px;
    text-align: right;
}

nav div {
    display: inline-block;
    
}

nav a {
    display: inline-block;
    background-color: #0e69a0;
    padding: 8px 16px;
    margin: 0 px;
    text-decoration: none;
    color: white;
}

nav a:hover {
    background-color: #0e69a0;
    color: white;
    text-decoration: underline;
    
}

a.active {
    background-color: #0e69a0;
    color: white;

}

/* header end */
.btn.btn-primary{
    background-color: #0e69a0;
    margin-left:  800px;
}
.containter {
    width: 100%;
    margin: auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin: 1rem 0;
}

.col-md-4 {
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-left: 30px;
    flex: 0 0 42%;
    max-width: 42%;
}

.col-md-12 {
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-left: 30px;
    flex: 0 0 100%;
    max-width: 100%;
}

.btn:not(:disabled):not(.disabled) {
    cursor: pointer;
}

.btn {
    font-size: .75rem;
    text-transform: uppercase;
    display: inline-block;
    font-weight: 600;
    color: #55595c;
    text-align: center;
    vertical-align: middle;
    user-select: none;
    background-color: transparent;
    border: 0 solid transparent;
    padding: .75rem 1.5rem;
    font-size: .875rem;
    line-height: 1.5rem;
    border-radius: 0;

}

.btn:hover {
    background-color: #3bbb905d;
    color: white;
}

.btn-info {
    color: #fff;
    background-color: #1f9bcf;
    border-color: #1f9bcf;
}

.btn-red {
    color: #fff;
    background-color: red;
    border-color: red;
}

.btn-primary {
    color: #fff;
    background-color: #010101;
    border-color: #000;
}

.form-group {
    margin-bottom: 1rem;
}

.form-control {
    display: block;
    width: 100%;
    padding: .75rem 1.5rem;
    font-size: .875rem;
    font-weight: 400;
    line-height: 1.5;
    color: #55595c;
    background-color: #f7f7f9;
    background-clip: padding-box;
    border: 0 solid #ced4da;
    border-radius: 0;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    margin-bottom: 1rem;
    box-shadow: 4px -8px 5px 0px #1f9bcf; 
    border-radius: 30px;
}

.card-body {
    flex: 1 1 auto;
    min-height: 350px;
    padding: 1.25rem;
    background-color: #0e69a0;
    text-align: center;
    border-radius: 30px;
    
}


img {
    width: 200px;
    height: 200px;
    background-color: white;
}

.is-valid {
    border-left: 2px solid green;
}

.is-invalid {
    border-left: 10px solid red;
}

.detailsImg {
    width: 300px;
height: 400px;
}
/* Catalog */
h3.no-articles {
    color: black;
    margin-left: 25px;
}

.recent article>p {
    height: 130px;
    overflow: hidden;
    margin-bottom: 16px;
    border-bottom:  2px solid #0e69a0;
}

.article-preview {
    margin: 0;
    padding: 0;
    display: block;
    height: 75px;
    background-color: #0e69a0;
    border-radius: 30px;
}

.article-preview:hover {
    background-color: #094162;
    color: white;
}

.article-preview h3 {
    background-color: #0e69a0(47, 79, 79, 0.404);
    color: #fff;
    margin-left: 30px;
}

.article-preview p {
    color: #fff;
    margin-left: 30px;

}

#catalog-page h1{
    margin-left: 30px;
}